<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>React Starter</title>
    <script type="text/javascript">
      window.initialData = <%- JSON.stringify(initialData) -%>
    </script>
  </head>
  <body>
    <div id="root"><%- initialMarkup -%></div>
    <script src="/bundle.js"></script>
  </body>
</html>
